BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
ContinuationIndentWidth: 4
# 零列宽会保留手工折行，使用极大列宽使普通声明与表达式合拢
ColumnLimit: 1000000
NamespaceIndentation: All
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
ReflowComments: Never
FixNamespaceComments: false
BinPackArguments: true
BinPackParameters: BinPack
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
SeparateDefinitionBlocks: Always
